.woocommerce a {
  text-decoration: underline;
}

.woocommerce-message,
.woocommerce-info,
.woocommerce-error {
  background: #eee;
  border: none;
  color: #000;
  padding: 15px 20px;
}

.woocommerce-message::before,
.woocommerce-info::before,
.woocommerce-error::before {
  display: none;
}

.woocommerce-error {
  border-left: 4px solid orangered;
}

.woocommerce-message,
.woocommerce-info {
  border-left: 4px solid olivedrab;
}

.woocommerce form .form-row {
  padding: 3px 0;
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea,
.woocommerce-cart table.cart input,
.woocommerce-cart table.cart td.actions .coupon .input-text {
  font-size: 1.125rem;
  border: 1px solid rgba(0, 0, 0, .08);
  background: rgba(0, 0, 0, .08);
  padding: 10px 15px;
  border-radius: 4px;
}

.woocommerce table.cart td.actions .coupon .input-text+.button,
.woocommerce-page table.cart td.actions .coupon .input-text+.button,
.woocommerce table.cart td.actions .button,
.woocommerce-page table.cart td.actions .button,
.woocommerce button.button,
.woocommerce-page .woocommerce-info .button,
.woocommerce .woocommerce-info .button {
  background-color: #000;
  color: #fff;
  font-weight: 500;
  text-transform: capitalize;
  min-height: 43px;
}

.woocommerce-page .woocommerce-info .button:hover,
.woocommerce .woocommerce-info .button:hover,
.woocommerce button.button:hover {
  background-color: #000;
  color: #fff;
}

.woocommerce-cart #coupon_code {
  min-width: 180px;
  margin-right: 10px;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce a.button.alt {
  text-transform: capitalize;
  font-weight: 500;
  background-color: #0066bb;
}

.woocommerce a.button.alt:hover {
  background-color: #1188ee;
}

.woocommerce-cart .cart_totals h2 {
  margin-bottom: 10px;
  font-size: 1.25rem;
  text-transform: uppercase ;
}

.woocommerce .checkout h3 {
  font-size: 1rem;
  padding: 15px;
  background: #111;
  color: #fff;
  font-weight: 400;
  margin-bottom: 10px;
  border-radius: 4px;
  text-transform: uppercase;
}

.woocommerce-checkout .checkout .col-2 h3#ship-to-different-address {
  float: none;
}

#order_review_heading {
  margin-top: 30px;
}

.woocommerce #payment,
.woocommerce #payment div.payment_box {
  background-color: rgba(0, 0, 0, .08);
  font-size: 1rem;
  color: #000;
}

.woocommerce #payment #place_order {
  float: none;
  margin-top: 20px;
  font-size: 1.25rem;
  padding: 15px 30px;
  background-color: #0066bb;
}

.woocommerce #payment #place_order:hover {
  background-color: #1188ee;
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
  border: none;
  padding: 0px;
  margin: 10px 0;
  max-width: 600px;
}

/* .woocommerce #pagseguro-payment-form {
  border: none;
}

.woocommerce #payment div.payment_box ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, .4);
} */

.woocommerce-account h2 {
  font-size: 1.25rem;
  margin: 10px 0;
}

.woocommerce-account.logged-in .woocommerce {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 30px;
}

.woocommerce-account.logged-in .woocommerce::after,
.woocommerce-account.logged-in .woocommerce::before {
  display: none;
}

.woocommerce-account.logged-in .woocommerce-MyAccount-navigation,
.woocommerce-account.logged-in .woocommerce-MyAccount-content {
  float: none;
  width: 100%;
}

.woocommerce-MyAccount-navigation ul {
  background-color: #111;
}

.woocommerce-MyAccount-navigation a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-bottom: 2px solid rgba(255, 255, 255, .08);
}

.woocommerce-MyAccount-navigation a:hover,
.woocommerce-MyAccount-navigation .is-active a {
  background-color: orangered;
}

.woocommerce-MyAccount-content p {
  margin-bottom: 1rem;
}

.woocommerce-MyAccount-content button {
  margin-top: 15px !important;
}

.woocommerce .woocommerce-customer-details address {
  border-width: 1px;
}

.woocommerce .woocommerce-customer-details .woocommerce-customer-details--phone {
  margin-top: 10px;
}

.woocommerce .woocommerce-customer-details .woocommerce-customer-details--phone::before,
.woocommerce .woocommerce-customer-details .woocommerce-customer-details--email::before {
  line-height: 1;
}

.woocommerce-Address-title {
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  padding: 10px;
}

.woocommerce-account .addresses .title h3,
.woocommerce-account .addresses .title .edit {
  float: none;
  text-align: left;
  font-size: .8rem;
  font-weight: normal;
  color: #fff;
  padding: 0px 10px;
}

.woocommerce-account .addresses .title h3 {
  font-weight: bold;
}

.woocommerce-account .addresses .title .edit {
  font-size: .625rem;
}

.woocommerce-account .addresses .title::before,.woocommerce-account .addresses .title::after {
  display: none;
}

.woocommerce-order-received h2{
  font-size: 1.25rem;
  margin: 10px 0;
}

.woocommerce-order-received .woocommerce-thankyou-order-received {
  color: #fff;
  background-color: #0066bb;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.woocommerce-order-received ul.order_details {
  background-color: #eee;
  padding: 15px;
  margin-bottom: 30px;
}

.woocommerce-order-received ul.order_details li {
  margin: 10px;
}

.woocommerce-order-received ul.order_details li strong {
  font-weight: bold;
  font-size: 1rem;
}

.woocommerce-order-received ul.order_details + p {
  margin-bottom: 30px;
}

.woocommerce-page .woocommerce-message .button {
  font-weight: normal;
  color: #fff;
  background-color: #0066bb;
}

.woocommerce-page .woocommerce-message .button:hover {
  background-color: #1188ee;
}

.woocommerce-order-table__cell-order-actions a {
  margin: 5px !important;
}

.woocommerce a.button.alt {
  font-weight: normal;
  background-color: #0066bb;
}

.woocommerce a.button.alt:hover {
  background-color: #1188ee;
}

@media (max-width: 800px) {
  .woocommerce-checkout .checkout .col-2 h3#ship-to-different-address {
    margin-top: 30px;
  }

  .woocommerce-account.logged-in .woocommerce {
    grid-template-columns: 1fr;
  }

  .u-columns .u-column1 {
    margin-bottom: 20px;
  }
}